#root{
  background-color: rgb(13,17,23);
}
/* Customize the width of the scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Adjust the width as per your preference */
}
/* Customize the scrollbar track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(22,27,34); /* or any color of your choice */
  }
  
  /* Customize the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(34, 49, 74); /* or any color of your choice */
  }
  
  /* Customize the scrollbar thumb on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(34, 49, 74); /* or any color of your choice */
  }
  
  /* Customize the scrollbar thumb when it's grabbed/dragged */
  ::-webkit-scrollbar-thumb:active {
    background-color: rgb(34, 49, 74); /* or any color of your choice */
  }
  
  /* Customize the scrollbar corner */
  ::-webkit-scrollbar-corner {
    background-color: #f1f1f1; /* or any color of your choice */
  }
  
  /* Customize the scrollbar resizer */
  ::-webkit-scrollbar-resizer {
    background-color: #f1f1f1; /* or any color of your choice */
  }
  

.custom_container{
    width: 100%;
    height: 100vh;
}
.custom_card{
    width: 70%;
    padding: 20px;
    border-radius: 10px;
}
.custom_card div button{
    background-color: green;
    color: white;
    padding: 0 20px;
}
.todosContainer{
    display: flex;
    flex-direction: column;
    height: 500px;
    overflow-y: auto;
    gap: 10px;
}
.todosContainer .todo{
    border-radius: 10px;
    background-color: rgb(22,27,34);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    color: rgb(210, 210, 210);
}
.todosContainer .todo p {
    margin-bottom: 0;
    width: 100%;
}
.todosContainer .todo .finishBtn {
    margin-right: 10px;
    cursor: pointer;
}
.todosContainer .todo .completed{
    text-decoration: line-through;
}

.todosContainer .todo .buttons .deleteBtn{
    background-color: red;
}
.todosContainer .todo .buttons button{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    padding: 5px;
}
.todosContainer .todo .buttons{
    display: flex;
    align-items: center;
    gap: 10px;
}

